# Output directory
build/**

# Sample images
data/**.jpg
data/**.ppm

# Xelatex build files
*.aux
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pdf
*.synctex.gz
*.toc
*.xdv
*.snm
*.nav
*.xmpdata
*.xmpi
*.lua

# Ignore the image assets for documents
!**/asset_*.pdf
!docs/*/*-asset.pdf
